/* Reset Universal */
*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  /*Galeria de Imagenes*/
  
  #galeria {
    padding: 5px;
    position: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    max-width: auto;
    min-width: auto;
  }
  
  #galeria img {
    width: 100%;
    height: 175px;
    border-radius: 9px;
    cursor: pointer;
    object-fit: cover;
  }
  
  #img-activa {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
  
  /*Contenedor Principal del Lightbox*/
  
  #contenedor-principal {
    position: fixed; /*Sí se cambia esto cambia como se ve la imagen a*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2500;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  /*Contenedor interno del Lightbox*/
  
  #contenedor-interno {
    border: 2px #f3f3f3 solid;
    padding: 2px;
    background: #3f3f3f;
    max-width: 500px;
    min-height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  
  /*Botones*/
  
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
  }
  
  #btn-cierra {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
  }
  
  #btn-retrocede {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
  }
  
  #btn-adelanta {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
  }
  @media screen and (max-width: 480px) {
    #img-activa {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    
  }
  @media screen and (max-width: 600px) {
    #galeria {
      grid-template-columns: repeat(2, 1fr);
    }
    #galeria img {
      width: 100%;
      height: 100px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  